* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.navbar{
    height: 40px;
    border: 2px solid red;
}
.navbar ul{
    display: flex;
}
.navbar ul li{
    text-decoration: none;
    list-style: none;
    float: right;
}